@model Reference


@{
    ViewData["Title"] = "UpdateReference";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Referans Güncelleme</h1>

<form method="post">
    <input type="hidden" asp-for="ReferenceID"/>
    
       <label>Referans Adı</label>
    <input type="text" class="form-control" asp-for="ReferenceName" style="background-color:darkgray" />
    <br />

     <label>Firma Adı</label>
    <input type="text" class="form-control" asp-for="CompanyName" style="background-color:darkgray" />
    <br />

       <label>Referans Numarası</label>
    <input type="text" class="form-control" asp-for="ReferenceNumber" style="background-color:darkgray" />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>


