
@model RegisterViewModel

@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet"/>

<form mmethod="post" >

<div class="container">
    <br><br />
    <label>Adınız</label>
    <input type="text" class="fform-control"  asp-for="Name" />


     <br />
    <label>Soyadınız</label>
    <input type="text" class="fform-control"  asp-for="Surname" />

       <br />
    <label>Kullanıcı Adı</label>
    <input type="text" class="fform-control"  asp-for="Username" />

     <br />
    <label>Email</label>
    <input type="email" class="fform-control"  asp-for="Email" />


     <br />
    <label>Şifreniz</label>
    <input type="password" class="fform-control"  asp-for="Password" />

     <br />
    <label>Şifre Tekrar</label>
    <input type="text" class="fform-control"  asp-for="ConfirmPassword" />

    <br />
    <button class="btn btn-primary">Kayıt Ol</button>
</div>

</form>